@model cadastroDePacientes.Ressource.paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.situacaoderua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.situacaoderua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datadenascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datadenascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.escolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.escolaridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tentativadesuicidio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tentativadesuicidio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomedamae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomedamae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataderegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataderegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ubsreferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ubsreferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comparecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comparecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ativoinativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ativoinativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grupos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grupos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comorbidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comorbidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.beneficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.beneficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rede)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ultimapresenca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ultimapresenca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.atendimentotr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.atendimentotr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroprontuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroprontuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.responsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.responsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadocivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadocivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.encaminhamentoporvia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.encaminhamentoporvia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.demandaespontanea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.demandaespontanea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naturalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naturalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acompanhante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acompanhante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.paciente_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
